/* Reset some default styles for consistency */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* LoginPage container styling */
.login-page {
  background-color: #f8f9fa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.login-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #343a40; /* Dark text color similar to Nexus Cares */
}

.login-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #777; /* Subdued text color similar to Nexus Cares */
}

/* Example LoginForm component styling */
/* You can style the login form components separately based on your LoginForm structure */

/* Input fields */
.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Login button */
.login-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}
