/* NavBar container */
.nav-header {
  background-color: #ffffff; /* Background color */
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}

/* Logo styling */
.logo img {
  width: 150px;
  height: auto;
}

/* Navigation menu */
.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e6e6; /* Background color */
}

.nav-menu li {
  float: right;
}

.nav-menu a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 16px;
  text-decoration:none;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.nav-menu a:hover {
  /* background-color: #00968f; Hover background color */
  color: aqua;
}

/* Mobile Menu Styling */
.nav-menu.open {
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Background color */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.nav-menu.open ul {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction:row;
  align-items: flex-start;
}

.nav-menu.open li {
  margin: 10px 0;
}

.nav-menu.open a {
  padding: 5px 20px;
  color: rgb(229, 127, 11);
}
